@font-face
{
    font-family: gudianminchao;
    src: url("../fonts/gudianmingchao_font.ttf");
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
}
h2, h3, h4
{
    margin-top: 15px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 25px;
}
img
{
    width: 500px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}
a
{
    color: black;
}
.para
{
    text-align: left;
    line-height: 2em;
    text-indent: 32px;
}

.content
{
    position: absolute;
    width: 600px;
    text-align: center;
}
.commentbar
{
    width: 600px;
    position: relative;
    left: 650px;
}
.comment
{
    position: relative;
    max-width: 500px;
    text-align: left;
    font-size: 13px;
    line-height: 1.5em;
    margin-top: 450px;
}
section.background {
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: -1;
    overflow: hidden;
}
.set {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.set div {
    font-family: gudianminchao;
    font-size: 6rem;
    color: black;
    position: absolute;
    display:block;
	opacity: 0.1;
    user-select: none;
}
.set div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -9s;
}
.set div:nth-child(2){
    left: 30%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(3){
    left: 40%;
    animation: animate 25s linear infinite;
    animation-delay: -2s;
}

.set div:nth-child(4){
    left: 50%;
    animation: animate 18s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(5){
    left: 60%;
    animation: animate 13s linear infinite;
    animation-delay: -8s;
}

.set div:nth-child(6){
    left: 70%;
    animation: animate 22s linear infinite;
    animation-delay: -8s;
}

.set div:nth-child(7){
    left: 80%;
    animation: animate 27s linear infinite;
    animation-delay: -18s;
}

.set div:nth-child(8){
    left: 90%;
    animation: animate 22s linear infinite;
    animation-delay: -4s;
}

.set div:nth-child(9){
    left: 10%;
    animation: animate 18s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(10){
    left: 0%;
    animation: animate 11s linear infinite;
    animation-delay: -1s;
}

@keyframes animate {
    0%{
        opacity: 0;
        top: -10%;
    }
    10%{
        opacity: 0.2;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(135deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}
.set2{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}
.set3{
    transform: scale(0.8) rotateX(180deg);
    filter: blur(4px);
}