@font-face
{
    font-family: gudianminchao;
    src: url("../fonts/gudianmingchao_font.ttf");
}
@font-face
{
    font-family:'HammersmithOne-Regular';
    src:url("../fonts/HammersmithOne-Regular.ttf");
}
@font-face
{
    font-family: abrilfatface;
    src: url("../fonts/AbrilFatface-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1600px;
    transform-style: preserve-3d;
}
.container .box
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    background: chocolate;
}

.container .box .name
{
    font-family: gudianminchao;
    font-size: 6em;
    position: absolute;
    text-align: center;
    color: #000000;
    width: 100%;
    transform-style: preserve-3d;
    transform:translate3d(0, 0, 75px);
    transition: 0.5s;
    z-index: 10;
    user-select: none;
}
/* .container .box:hover .name
{
    transform: translate3d(0, 0, 100px);
} */
/* .container .box .name::before
{
    content: attr(data-head);
    font-family: abrilfatface, cursive;
    position: absolute;
    display: flex;
    opacity: 0;
    z-index: 5;
    transform-style: preserve-3d;
    transform:translate3d(0, 0, -125px);
    transition: 0.5s;
    writing-mode:vertical-rl;
} */
.container .box:hover .name::before
{
    opacity: 0.3;
    transform:translate3d(0, 0, -75px);
}
.container .box .entrance
{
    font-family: gudianminchao;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform:translate3d(-50%, 0, 75px);
    color: #ffffff;
    background: #333333;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}
.container .box:hover .entrance
{
    bottom:10px;
    opacity: 1;
}
