@font-face
{
    font-family: gudianminchao;
    src: url("../fonts/gudianmingchao_font.ttf");
}
@font-face
{
    font-family:'HammersmithOne-Regular';
    src:url("../fonts/HammersmithOne-Regular.ttf");
}
@font-face
{
    font-family: abrilfatface;
    src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face
{
    font-family: dugulishu;
    src: url("../fonts/HanBiaoDuGuLiShu-2.ttf");
}
@font-face
{
    font-family: baizhoutaili;
    src: url("../fonts/baizhoutaili.ttf");
}
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
body
{
    height: 100vh;
    min-width: 1300px;
    display: flex;
    justify-content: left;
}
/* datacontainer: show text */
.data-container
{
    width: 40%;
    z-index: 30;
}
.data
{
    width: 600px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 20px;
    z-index: 31;
}
.para
{
    text-align: left;
    line-height: 2em;
    text-indent: 32px;
    width: 600px;
    margin: auto;
}
h2
{
    padding-top: 10px;
    margin-left: 10px;
}
h3
{
    padding-top: 10px;
    margin-left: 20px;
    width: 100px;
}
h3:hover
{
    border-left: 10px solid black; 
    padding-left: 8px;
}
.data div
{
    margin-left: 50px;
    z-index: 30;
}
div.return
{
    width: 600px;
    margin-left: 0px;
    margin-top: 50px;
}
a
{
    text-decoration: none;
    color: black;
}

/* image part */
.image{
    width: 60%;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 20;
    /* height: 300vh; */
    /* background: violet; */
  }

.grid-container {
    width: 115px;
    /* height: 300vh; */
    display: flex;
    flex-direction: column;
    columns: 1;
    padding: 10px;
    z-index: 15;
    margin-top: -30vh;
    /* background: greenyellow; */
}
section.image div.grid-container:nth-child(1){
    animation: river 65s 1s linear infinite alternate-reverse;
}
section.image div.grid-container:nth-child(2){
    animation: river 50s 1s linear infinite alternate-reverse;
}
section.image div.grid-container:nth-child(3){
    animation: river 45s 1s linear infinite alternate-reverse;
}
section.image div.grid-container:nth-child(4){
    animation: river 65s 1s linear infinite alternate-reverse;
}
section.image div.grid-container:nth-child(5){
    animation: river 50s 1s linear infinite alternate-reverse;
}

.grid-container div {
      width: 115px;
      display: inline-block;
      margin-top: 20px;
      transition: all .25s ease-in-out;
      z-index: 15;
      /* background-color: aqua; */
    }
img {
    width: 115px;
    filter: grayscale(100%) opacity(0.2);
    transition: all .25s ease-in-out;
    border-radius: 10px 10px 10px 10px;
    z-index: 15;
    box-shadow:5px -9px 2px 1px rgba(51, 51, 51, 0.2);
}
.grid-container div:hover img{
    filter: grayscale(100%) opacity(0.3);
}
@keyframes river{
    0%{
        margin-top: -30vh;
    }
    50%{
        margin-top: 0vh;
    }
    100%{
        margin-top: -30vh;
    }
}