@font-face
{
    font-family: gudianminchao;
    src: url("fonts/gudianmingchao_font.ttf");
}
@font-face
{
    font-family: tengxiangsongminjian;
    src: url("fonts/TengXiangMingSongJian.ttf");
}
@font-face
{
    font-family: beishidajiagu;
    src: url("fonts/BeiShiDaJiaGuWenZiTi-1.ttf");
}
@font-face
{
    font-family: beishidaxiaozhuan;
    src: url("fonts/BeiShiDaShuoWenXiaoZhuan-1.ttf");
}
/* global setting*/
body {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	font-size: 22px;
	font-family: STSong;
	overflow: hidden;
}
/* heading*/
h1{
    width: 700px;
}
#heading{
    font-family: beishidajiagu;
}
/* Three plates */
.plate{
    display: flex;
    flex-direction: row;
    width: 1300px;
    /* background-color: antiquewhite; */
}
/* part1:introduction and index */
.part1{
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.introduction{
    width: 600px;
    height: 200px;
    margin: 20px;
    text-indent: 2em;
    line-height: 1.5;
    font-family: tengxiangsongminjian;
}
.index{
    width: 700px;
    height: 400px;
}
/* index */
section.content_index
{
    display: flex;
    justify-content: left;
}
ul{
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
}
ul li a{
    display: block;
    font-family: gudianminchao;
    font-size: 2rem;
    line-height: 3rem;
    color: rgb(36, 34, 34);
}
a:hover{
    color: rgb(197, 4, 4);
}
/* data content show style */
.data-content{
    font-family: tengxiangsongminjian;
    font-size: 2rem;
    margin: 40px;
    color: rgb(160, 160, 160);
    width: 420px;
}

/* part2: important article */
.part2{
    width: 550px;
    min-width: 200px;
}
.import-doc{
    width: 550px;
    height: 600px;
}

/* set border of h2 */
h2{
    border-left: 10px solid black; 
    padding-left: 8px;
 }
/* link of doc */
a {
	text-decoration: none;
	color: #858585;
}
table
{
    width: 700px;
    border-collapse: separate;
    border-spacing: 15px;
    font-family: tengxiangsongminjian;
    font-weight: 600;
}
.time
{

    font-size: 12px;
    font-weight: 500;
    color: #858585;
}
/* ul li a::before
{
    content: attr(data-title);
    position: absolute;
    font-family: SimHei;
    z-index: -1;
    font-size: 4rem;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 100vh;
    transform: 0.5s;
    opacity: 0;
    color: black;
    margin-left: 140px;
    font-weight: bolder;
}
ul li:hover a::before
{
    opacity : 0.2;
} */

/* .video
{
    box-sizing: border-box;
    float: right;
    margin-bottom: 800px;
} */